* {
    margin: 0;
    padding: 0;
    --website-theme-color: #c084fc;
    --menu-color: red;
    --contact-color: blue;
    --footer-color: gray;
    --home-color: #c4b5fd;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    --button-color: #ec4899;
    --button-color-hover: #be185d;
    --menu-item-color: #facc15;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: var(--website-theme-color);
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    min-height: 80vh;
    min-width: 80vw;
    background-color: var(--home-color);
}

header {
    margin-top: 1rem;
    nav {
        margin-top: 1rem;
    }
    button {
        padding: 1rem;
        border-radius: 5px;
        margin: 0.3rem;
        background-color: var(--button-color);
        font-weight: bold;
        color: #eee;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
            background-color: var(--button-color-hover);
        }
    }
    h1 {
        font-size: 3rem;
        font-weight: 900;
        /* border: 1px solid #111; */
        background: linear-gradient(to right, #f9a8d4, #db2777);
        padding: 1.2rem 4rem;
        border-radius: 10px;

    }
}

.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    padding: 12px;
    justify-items: center;
    /* align-items: center; */
    gap: 2rem;
    margin-top: 2rem;
}

.menu-item {
    background-color: var(--menu-item-color);
    max-width: 80%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    img {
        min-width: 50%;
        min-height: 50%;
        margin: 10px;
    }
}



.footer {
    padding: 1rem;
    font-size: 1.2rem;
}